:root {
    --white: #faf9f6; 
    --light: #E2D5C9;
    --main: #b27c66;
    --main-shadow: #866153;
    --dark: #5b4b3c;
}

.about-me {
    border-bottom-width: 4px;
    border-bottom-color: var(--main-shadow);
    color: var(--main-shadow);
}

.about-me-all {
    color: var(--dark);
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .about-me-all {
        margin-top: 200px;
        padding-bottom: 170px;
        margin-bottom: 100px;
    }
    .about-me-title {
        padding-bottom: 0.5rem;
        margin-top: 100px;
    }
    .about-me-sub {
        margin-bottom: 70px;
    }
}