:root {
    --white: #faf9f6;
    --light: #E2D5C9; 
    --main: #b27c66;
    --dark: #5b4b3c;
}

.logoPic {
    max-width: 150px;
}

.my-nav {
    background-color: var(--white);
    color: var(--dark);
    box-shadow: 1px 2px 10px var(--main);
}

.small-screen-text {
    color: var(--main);
}

.small-screen-list {
    color: var(--dark);
    background: linear-gradient(white, var(--light));
}

.active-link {
    font-weight: 600;
}