:root {
    --white: #faf9f6; 
    --light: #E2D5C9;
    --main: #b27c66;
    --main-shadow: #956a59;
    --dark: #5b4b3c;
    --tw-shadow-color: #956a59;
}

.portfolio-title, .experience-title, .contact-title {
    border-bottom-width: 4px;
    border-bottom-color: var(--main-shadow);
    color: var(--main-shadow);
}

.portfolio-all {
    color: var(--dark);
    padding-top: 5.5rem;
    padding-bottom: 3rem;
}

.portfolio-sub {
    font-weight: 500;
}

.port-btns {
    background-color: var(--white);
    border-radius: 7px;
    font-weight: 500;
}

.demo-link {
    justify-content: space-evenly;
    color: var(--main-shadow);
}

.port-icon {
    color: var(--main-shadow);
}

.port-title {
    color: var(--dark);
    background-color: var(--white);
    border-bottom-width: 2px;
    border-bottom-color: var(--light);
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
}

.experience-card {
    background-color: var(--white);
}

.exp-resume-btn {
    border-width: 2px;
    background-image: linear-gradient(to right, var(--light), var(--main));
    border-radius: 7px;
    border-color: var(--light);
    color: var(--dark);
    font-weight: 500;
}

.resume-skills {
    padding-top: 8rem;
}

.resume-sub {
    font-weight: 500;
}

.submit-btn {
    background-image: linear-gradient(to right, var(--light), var(--main));
    font-weight: 500;
    border-color: var(--light);
    border-width: 2px;
}

.required {
    color: var(--dark);
    font-weight: 500;
}