@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Montserrat', sans-serif;
    }
}

:root {
    --white: #faf9f6; 
    --light: #E2D5C9;
    --main: #b27c66;
    --main-shadow: #956a59;
    --dark: #5b4b3c;
}

.whole-site {
    height: 100%;
    background: linear-gradient(white, var(--light));
    /* background-attachment: fixed; */
}